nav.navigation
  .navigation__wrapper 
    a.navigation__link(href="/")="Powel-Studio"
    ul.navigation__list
      li.navigation__list__item
        a(href="")="index"
        a(href="/m13")="M13"
          sup="tm"
      li.navigation__list__item
        a(href="/studio")="studio"
        a(href="https://creativemarket.com/tenburytype" rel="noopener" tagert='_blank')="SHOP [TT]" 
      li.navigation__list__item
        a(href="mailto:hello@powell-studio.com" rel="noopener" tagert='_blank')="hello[at]powell-studio.com"
        a(href="tel:00018583619534" rel="noopener" tagert='_blank')="+1 858 361 9534" 
      li.navigation__list__item
        a(href="https://www.instagram.com/powell_studio/" rel="noopener" tagert='_blank')="Instagram"
        a(href="https://twitter.com/brijanp" rel="noopener" tagert='_blank')="Twitter" 